.container {
    width: 75%;
    min-width: 900px;
    margin: 24px auto;
}

.fstSection {
    display: flex;
}

.img {
    margin-right: 48px;
    width: 250px;
    height: 250px;
}

.fstSectionCampos {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.header {
    margin-top: 36px;
    text-align: left;
}

.containerCampos {
    display: flex;
    width: fit-content;
    margin: 0px auto;
    justify-content: flex-start;
    flex-direction: column;
}

.campos {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.scndInput {
    width: max-content;
    margin-right: 12px;
}

.addBtn {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

.lista {
    margin: 0 auto;
    width: 95%;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.btn {
    flex: 1;
}

.btn:first-child {
    margin-right: 18px;
}

.erro {
    color: red;
    margin-top: -6px;
}