.header {
    margin: 0;
    padding: 0;

    color: #54265C;
    font-weight: normal;
    margin: 10px auto;
    text-align: center;
}

.h1 {
    font-size: 36px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 24px;
}