.container {
    margin: 0px;
    background-color: #54265C;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
}

.container * {
    margin: 0;
}

.logo {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    flex: 1;
}

.menu {
    display: flex;
}

.menu * {
    margin-right: 18px;
}